.currency {
    position: relative;

    &:after {
        content: '₽';
        position: absolute;
        top: 20px;
        right: -17px;
        font-size: 17px;
        font-family: Roboto, sans-serif;
    }
}

.noWrap {
    white-space: nowrap;
}