.description{
    margin-top: 40px;

    textarea {
        max-width: 926px;
    }
}

.buttons {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

/* utils */

.textSmall {
    font-size: 13px;
}

.sumRow {
    align-items: baseline;
}

.tooltip {
    margin-top: -7px;
}
