.row {
    font-size: 15px;
    margin: 0 0 16px 0;
}

.sum {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
}

.subconto {
    margin-bottom: 13px;
}

.loader {
    height: 30px;
    width: 100%;
}

.ieFix {
    display: flex;
}
