.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.text {
    color: hsl(0, 0%, 60%);
    font-size: 13px;
    margin: 0 0 2px 0;
}

.sum {
    margin: 17px 0 0 0;
}
