<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RegServiceSoap" />
        <binding name="ExternalServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ExternalServiceSoap1" />
        <binding name="AutorizationService" />
        <binding name="FlkService" />
        <binding name="WorkflowService" />
        <binding name="ZipService" />
      </basicHttpBinding>
      <customBinding>
        <binding name="RegServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="ExternalServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="firstBinding" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://regservice.keydisk.ru/regservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="RegServiceSoap"
        contract="AstralRegServiceRef.RegServiceSoap" name="RegServiceSoap" />
      <endpoint address="http://regservice.keydisk.ru/regservice.asmx"
        binding="customBinding" bindingConfiguration="RegServiceSoap12"
        contract="AstralRegServiceRef.RegServiceSoap" name="RegServiceSoap12" />
      <endpoint address="https://reg.astralnalog.ru/Services/ExternalService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ExternalServiceSoap"
        contract="AstralExternalServiceReference.ExternalServiceSoap"
        name="ExternalServiceSoap" />
      <endpoint address="https://reg.astralnalog.ru/Services/ExternalService.asmx"
        binding="customBinding" bindingConfiguration="ExternalServiceSoap12"
        contract="AstralExternalServiceReference.ExternalServiceSoap"
        name="ExternalServiceSoap12" />
      <endpoint address="http://iotchet.ru/api/autorization" binding="basicHttpBinding"
        bindingConfiguration="AutorizationService" contract="AstralAuthServiceReference.AutorizationService"
        name="AutorizationService" />
      <endpoint address="http://iotchet.ru/api/flk" binding="basicHttpBinding"
        bindingConfiguration="FlkService" contract="AstralFlcServiceReference.FlkService"
        name="FlkService" />
      <endpoint address="http://iotchet.ru/api/workflow" binding="basicHttpBinding"
        bindingConfiguration="WorkflowService" contract="AstralTransferService.WorkflowService"
        name="WorkflowService" />
      <endpoint address="http://iotchet.ru/api/zip" binding="basicHttpBinding"
        bindingConfiguration="ZipService" contract="BankArchiveService.ZipService"
        name="ZipService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup></configuration>
