.table {
    width: 100%;
    border-spacing: 0;

    .tableHead th {
        font-size: 13px;
        color: hsl(0, 0%, 20%);
        padding: 6px;
        text-align: right;
    }

    .tableBody {
        td {
            text-align: right;
            padding: 6px;
        }

        tr:nth-child(odd) {
            background-color: hsla(0, 0%, 0%, 0.0470588235294118);
        }
    }
}
