.head {
    margin: 0 0 15px;
}

.labelSum {
    font-size: 13px;
    font-weight: 700;
    text-align: end;
    padding: 0 20px 0 0;
}

.labelDescription {
    font-size: 13px;
    font-weight: 700;
}

.addLink {
    margin: 10px 0 20px 0;
}

.error {
    color: hsl(8, 83%, 64%);
    margin: 20px 0 0;
}
