.billName {
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.removeSingleBill {
    position: absolute;
    right: 5px;
    top: 2px;
    background-color: #ffffff !important;
}

.autocompleteRow:hover {
    background: #F4EDDE;
}