.row {
    align-items: baseline;
    font-size: 15px;
    padding-right: 20px;
}

.sum {
    display: inline-flex;
    align-items: baseline;
}

.delete {
    text-align: right;
}

.deleteBtn {
    margin: 0 -9px 0 auto;
    position: relative;
    top: 3px;
}
