.shortFieldsRow {
    margin-bottom: 5px;
}

.kbkAutoField {
    display: inline-block;
    margin-right: 15px;
    font-size: 15px;
    color: hsl(0, 0%, 68%);

    &:last-child {
        margin-right: 0;
    }
}

.toggleKbkFieldsLink {
    margin-bottom: 20px;
}

.documentNumber {
    display: flex;
    align-items: baseline;
}
