<li class="md-row {{style.row}}">
    <div class="js-selectRegion {{style.row__selectSection}}"></div>
    <div class="js-inputRegion md-col--3"></div>
    {{#unless readonly}}
        <i class="md-icon--x {{style.row__remove}} js-remove"></i>
    {{/unless}}
</li>
