.stockProductDialog .spd__remainsBlock .gam__remains__edit {
  position: relative;
  top: -1px;
}
.stockProductDialog .spd__remainsBlock .mdUlSelectorText {
  width: 122px;
  vertical-align: top;
}
.stockProductDialog .spd__remainsBlock input[type=text] {
  display: inline-block;
  float: none;
  width: 114px;
}
.stockProductDialog .l-add {
  color: #1F85C5;
}
.stockProductDialog .gam__remains__list {
  margin-bottom: 7px !important;
}
.stockProductDialog .gam__remains__totalInfo {
  margin-bottom: 10px;
}
.stockProductDialog .gam__remains__plugRow {
  display: inline-block;
  position: relative;
  top: 1px;
  vertical-align: top;
}
.stockProductDialog .gam__remains__addStock {
  line-height: 18px;
}
.stockProductDialog .gam__remains__addStock .l-add:before {
  bottom: 0;
}
.stockProductDialog .stockAutocomplete {
  width: 130px;
}
