.modalText {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    font-weight: 400;
    font-style: normal;
}

.sberbankM {
    width: 272px;
    height: 243px;
}

.sberbankWallet {
    width: 272px;
    height: 198px;
    margin-bottom: 40px;
}
