<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <location>
        <system.webServer>
            <aspNetCore>
                <environmentVariables xdt:Transform="Insert">
                    <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
                    <environmentVariable name="CORECLR_PROFILER" value="{36032161-FFC0-4B61-B559-F6C5D41BAE5A}" />
                    <environmentVariable name="CORECLR_NEWRELIC_HOME" value="C:\ProgramData\New Relic\.NET Core Agent" />
                    <environmentVariable name="CORECLR_PROFILER_PATH" value="C:\ProgramData\New Relic\.NET Core Agent\NewRelic.Profiler.dll" />
                    <environmentVariable name="NEW_RELIC_APP_NAME" value="Moedelo.Money.BankBalanceHistory.Api" />
                    <environmentVariable name="NEW_RELIC_DISTRIBUTED_TRACING_ENABLED" value="true" />
                </environmentVariables>
            </aspNetCore>
        </system.webServer>
    </location>
</configuration>