.notification {
    margin: 0 0 20px 0;
}

.instruction {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
}

.instruction__wrapper {
    margin-bottom: 20px;
}

.instructionArrow {
    margin-top: -2px;
    margin-left: 5px;
    fill: hsl(203, 73%, 45%);
}

.checkRuleBtnContainer {
    display: flex;
    justify-content: center;
}

.typeSelect {
    width: 100%;
}

.formVerticalCentred {
    display: flex;
    align-items: center;
}

.muteColorText {
    color: hsl(0, 0%, 84%);
}
