.cashBudgetaryPayment {
    .accountSelect .mdCustomSelectWrap {
        margin-right: 15px;

        .mdCustomSelect {
            width: 214px;
        }

    }

    .kbkSelect{
        .mdCustomSelect {
            width: 330px;
        }
    }

    .paymentType {
        label {
            cursor: pointer;
            margin-right: 10px;
            vertical-align: top;
            margin-top: 2px;
        }
    }

    .period{
        select[name=CalendarType], select[name=Month]{
            width: 120px;
        }

        select[name=Year], select[name=Quarter], select[name=HalfYear] {
            width: 65px;
        }

        .mdCustomSelect {
            margin-right: 10px;
        }
    }

    .description{
        width: 321px;
    }

    input[type=text].kontragentName{
        width: 331px;
    }

    .uneditableSumCol {
        float: none;
        vertical-align: bottom;
        display: inline-block;
    }
}

