.numberAndDate {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    align-items: center;
    margin: 0 0 40px 0;

    .number {
        font-size: 20px;
        margin: 0 7px 0 0;
    }

    .date {
        margin: 0 0 0 15px;
        font-size: 20px;
    }
}
