.row {
    font-size: 15px;
    margin: 0 0 16px 0;
    font-family: Roboto, sans-serif;
}

.sum {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
}

.subconto {
    margin-bottom: 13px;
}

.description {
    line-height: 32px;
    margin: 6px 0 0 0;
}

.loader {
    height: 30px;
    width: 100%;
}

.hint {
    color: hsl(0, 0%, 60%);
    margin: 0;
}

.linkedDocumentName {
    margin-bottom: 5px !important;
}

.LinkedDocumentsHeaderArrow {
    fill: hsl(202, 72%, 56%);
    margin-left: 5px;
}

.LinkedDocumentsContainer {
    display: none;

    &.isVisible {
        display: block;
    }
}
