.row {
    align-items: baseline;
    font-size: 15px;
    margin: 0 0 16px 0;
    font-family: Roboto, sans-serif;
}

.sum {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
}

.delete {
    text-align: right;
}

.deleteBtn {
    margin: 0 -9px 0 auto;
    position: relative;
    top: 3px;
}

.description {
    margin: 0 0 0 10px;
}
