.workerChargesTitles {
    font-size: 13px;
    color: hsl(0, 0%, 25%);
    font-weight: 700;
    margin: 50px 0 5px;
}

.chargeRow {
    display: flex;
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.chargePeriod {
    width: 260px;
}

.chargeSum {
    width: 210px;
}

.chargeNestedMargin {
    width: 48px;
}

.clearCharge {
    margin-top: 7px;

    &:first-child {
        margin-top: 0;
    }
}

.addChargeLink {
    margin-top: 5px;
}

.workersListFooter {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid hsl(0, 0%, 90%);
    height: 30px;
    display: flex;
    justify-content: space-between;

    &.flexEnd {
        justify-content: flex-end;
    }
}

.totalSum {
    font-size: 13px;
    color: hsl(0, 0%, 25%);
    font-weight: 700;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    min-width: 500px;
}
