.component {
    display: flex;
    justify-content: space-between;

    .link {
        line-height: 16px;
    }

    .tag {
        margin-right: 10px;

        &:nth-last-child(2) {
            margin-right: 20px;
        }
    }
}

.tagsList {
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    align-items: center;
}

.clearButton {
    margin-left: 20px;
}
