.component{
  position: relative;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 20px;

  :global(a) {
    border-bottom: 1px dashed #1F85C5;
  }

  &__bankName{
    color: #777777;
    font-weight: normal;
    text-transform: none;
  }

  &__label{
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    padding: 2px 15px 2px 10px;
    cursor: pointer;
    text-transform: uppercase;

    &--selected{
      background: none repeat scroll 0 0 #F1D6A9;

      :global(a) {
        border: 0;
        color: #404040;
        cursor: default;
        font-weight: bold;
      }

      &__direction{
        margin-top: 3px;
      }
    }
  }

  &__balance{
    padding-left: 10px;
    color: #777;
  }

  &__direction{
    font-size: 12px;
    padding-left: 20px;
    margin-bottom: 3px;
  }

  &__directionLink{
    border-bottom: 1px dashed #1F85C5;
    cursor: pointer;

    &:global(.selected){
      cursor: default;
      font-weight: 700;
      padding: 3px 5px;
      position: relative;
      left: -5px;
      background: #f1d6a9;
      color: #404040;
      border: none;
      display: block;
    }
  }
}