.paymentStatusContainer {
    display: flex;
    padding: 0 0 10px 0;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;

    &.orange {
        fill: hsl(42, 93%, 57%);
    }

    &.red {
        fill: hsl(8, 80%, 48%);
    }
}
