
.billRow {
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.billCell {
    display: inline-block;
    position: relative;

    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.removeBillRow {
    background: transparent !important;
}