<svg version="1.1"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
	 x="0px" y="0px" width="49px" height="70px" viewBox="0 0 49 70" style="overflow:scroll;enable-background:new 0 0 49 70;"
	 xml:space="preserve">
<style type="text/css">
	.st0{fill:#BFCBD9;}
	.st1{fill:none;stroke:#BFCBD9;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#3DA1C5;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
</style>
<defs>
</defs>
<g>
	<path class="st0" d="M30.3,3L46,18.7V67H3V3H30.3 M30.9,0H1.4C0.6,0,0,0.6,0,1.4v67.3C0,69.4,0.6,70,1.4,70h46.3
		c0.8,0,1.4-0.6,1.4-1.4V18.1c0-0.4-0.1-0.7-0.4-1L31.9,0.4C31.6,0.1,31.3,0,30.9,0L30.9,0z"/>
</g>
<polyline class="st1" points="47.2,17.7 31.3,17.7 31.3,1.8 "/>
<line class="st2" x1="12" y1="29.4" x2="37" y2="29.4"/>
<line class="st2" x1="12" y1="38.2" x2="37" y2="38.2"/>
<line class="st2" x1="12" y1="46.9" x2="37" y2="46.9"/>
<line class="st2" x1="12" y1="55.7" x2="29.2" y2="55.7"/>
</svg>
