.component {
    margin-top:     20px;
    padding-bottom: 20px;
    border-bottom:  1px solid hsl(0, 0%, 90%);

    .inputSection {
        display:     flex;
        align-items: flex-start;
    }

    .errorMessage {
        font: 14px/15px Roboto, serif;
        margin-top: 7px;
        color: hsl(8, 83%, 64%);
    }

    .separator {
        padding: 9px 10px;
    }
}