.contractorContainer {
    flex-flow: wrap;
    align-items: baseline;
}

.showRequisitesLink {
    margin-top: 10px;
}

.contractorName {
    box-sizing: border-box;
    width: 76%;
}

.requisitesRow {
    align-items: baseline;
}

.requisitesField {
    padding-right: 20px;
}

.requisitesArrow {
    margin-top: -2px;
    margin-left: 5px;
    fill: hsl(203, 73%, 45%);
}

.accountCode {
    display: flex;
    align-items: center;
    position: relative;
    top: 4px;
}
