.uploadButton {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;

    /* stylelint-disable-next-line */
    &--small {
        margin-left: 0;
        margin-bottom: 20px;
    }

    button {
        display: flex;
        align-items: center;
    }
}

.loaderSection {
    display: flex;
    justify-content: center;
}

.loader {
    width: 38px;
    height: 38px;
}
