.paymentRules {
    text-align: center;
    position: relative;
    height: 100%;
}

.dropdown {
    position: absolute;
    right: -70%;
    text-align: left;
    max-height: 300px;

    li {
        padding-top: 0 !important;
    }
}
