.dateContainer {
    position: relative;
    display: flex;
    align-items: baseline;
}

.calendar {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    box-shadow: 0 4px 15px 0 hsla(0, 0%, 0%, 0.15);
    padding: 20px;
    top: -265px;
    z-index: 100;
}
