.downloadButton {
    padding: 5px 20px;
    background-color: white;

    &__first {
        padding-top: 15px;
    }

    &__last {
        padding-bottom: 15px;
    }

    &__btn {
        min-width: 64px;
    }
}

.documentDownload {
    margin: 0 3px 0 -2px !important;
}