<div class="confirmDialog">
    <div class="mdDialogHeader clearfix">
        <span class="mdDialogCloseButton cancel">×</span>
    </div>

    <div class="mdDialogWrap">
        <header class="clearfix">
            <div class="mdDialogTitle">
                Внимание
            </div>
        </header>

        <div class="mdDialogContent clearfix">
        <div class="message"></div>
    </div>
    </div>

    <div class="mdDialogFooter">
        <div id="confirm" class="mdButton rightMargin">
                <span class="innerText">Да</span>
            </div>
        <div id="cancel" class="mdButton cancel">
                <span class="innerText">Нет</span>
            </div>
        </div>
</div>