.numberAndDate {
    font-weight: 400;
    font-style: normal;
    align-items: baseline;
    margin: 0 0 40px 0;
    position: relative;

    .text {
        font-size: 24px;
    }

    .number {
        font-size: 20px;
        margin: 0 7px;
    }

    .date {
        margin: 0 0 0 15px;
        font-size: 20px;
    }
}

.actionBlockWrapper{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.actionBlockButton{
    margin-right: 20px;
}

.buttonDeleteDialog{
    margin-top: 20px;
}

.downloadList{
    padding: 20px;
}

.notification{
    margin-bottom: 25px;
}