.bankUpdateButton {
    .updateSplit {
        min-width: 170px;
    }

    .statementLoading,
    .statementLoading:hover {
        color: hsl(195, 72%, 45%);
    }
}

.inputSection {
    position: relative;
    margin: 5px 0 10px;

    .updateInput {
        width: 140px;
        display: inline-block;
    }

    .periodInput {
        margin: 0 !important;
        padding: 0 !important;
        border: none !important;
    }

    .inputDash {
        border-top: 1px solid hsl(0, 0%, 20%);
        height: 0;
        width: 7px;
        display: inline-block;
        border-collapse: collapse;
        position: absolute;
        top: 50%;
        left: 48.5%;
    }
}

.updateInformation {
    color: hsl(0, 0%, 60%);
    font-size: 14px;
}

.updateModal {
    position: relative;
    min-height: 165px;
}

.modal__footer {
    margin-top: 25px;
    user-select: none;
}

.dialogLoader {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.downloadFileInput {
    display: none;
}

.loaderSection {
    display: flex;
    justify-content: center;
}

.loader {
    width: 38px;
    height: 38px;
}
