.taxDistributionContainer {
    position: relative;
}

.addTaxButton {
    position: relative;
    margin-bottom: 20px;
}

.taxDistributionTitle {
    margin-bottom: 0;
}

.remains {
    min-width: 260px;
    margin-top: 20px;
    color: hsla(0, 0%, 36%, 1);
}

.subTaxesContainer {
    margin-bottom: 0;
}

.validation {
    color: hsl(8, 83%, 64%);
    font-size: 13px;
}
