.row {
    margin-bottom: 7px;
}

.row__input {
    border-color: #c7c7c7 !important;
    height: 27px !important;
}
.row__select {
    //border-color: #c7c7c7 !important;
    //height: 27px !important;
}

.row__remove {
    background: transparent !important;
    position: relative;
    top: 1px;
}