<div class="openClosedPeriod">
    <div class="mdDialogHeader clearfix">
        <h2 data-bind="Title">Март-Декабрь</h2>
        <span class="mdDialogCloseButton cancel">×</span>
    </div>
    <div class="mdDialogWrap content">
        Все проводки в закрытом периоде будут удалены.    
    </div>

    <div class="mdDialogFooter">
        <div class="mdButton rightMargin" id="openPeriodButton">
            <span class="innerText">Открыть период и удалить проводки</span>
        </div>
        <span class="link cancel">Отменить</span>
    </div>
</div>

