.sumCondition {
    margin: 0 0 6px 0;

    .dropdown {
        margin: 0 0 0 10px;
    }

    .rangeSum {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .rangeSum__input {
        width: 130px;
    }
}
