.head {
    margin: 0 0 15px;
    font-size: 13px;
    font-weight: 700;

    .sum {
        text-align: right;
        padding: 0 13px 0 0;
    }
}

.hint {
    color: hsl(0, 0%, 60%);
    margin: 0;
}

.loader {
    text-align: center;
}

.error {
    color: hsl(8, 83%, 64%);
    margin: 20px 0 0;
}
