.additionalActions__container {
    position: relative;
}

.additionalActions__dropdown {
    top: 19px;
    left: -200px;
}

.additionalActions__button {
    width: 20px;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.additionalActions__icon {
    width: 20px;
    height: 20px;
    fill: #999999;    
}

.button_wide {
    width: 100%;
}

.fade {
    transition: opacity 175ms linear;
}

.fade-entering {
    opacity: 0;
}

fade-entered {
    opacity: 1;
}

.fade-exiting {
    opacity: 0;
}

.fade-exited {
    opacity: 0;
}

.hidden {
    display: none;
}