.filterContainer {
    display: flex;
    justify-content: flex-end;
}

.search {
    max-width: 220px;
}

.filter {
    position: relative;
    width: 143px;
}

.filterButton {
    margin-left: 20px;
}
