.noWrap {
    white-space: nowrap;
}

.label {
    font-size: 13px;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
}

.removeButton {
    flex-shrink: 0;
}

.wrapper {
    margin: 40px 0 20px;
    align-items: baseline;
}

.input {
    width: 150px;
}

.error {
    font: 13px/18px Roboto, sans-serif;
    color: hsl(8, 83%, 64%);
    margin-top: 8px;
}

.save {
    position: relative;
    margin-left: 20px;
    align-self: flex-end;
}

.inputRow {
    display: flex;
}

.openLinkRow {
    display: flex;
    align-items: center;
}
