/* общие стили для вложенных компонентов */
.label {
    font-size: 13px;
    color: hsl(0, 0%, 68%);
}

.baseLineItems {
    align-items: baseline;
}

.endItems {
    align-items: flex-end;
}

.paddingRight20 {
    padding-right: 20px;
}

.hidden {
    display: none;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 450px;
}
