.description {
    margin-top: 40px;
    flex-grow: 1;

    textarea {
        max-width: 926px;
    }
}

.manual {
    margin-top: 18px;
    min-width: 213px;
}

.buttons {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: center;
}

/* utils */

.textSmall {
    font-size: 13px;
}

.sumRow {
    align-items: flex-end;
}

.tooltip {
    display: flex;
    align-items: center;
}
