.buttons {
    justify-content: end;
    margin-top: 20px;
}

.warning {
    max-height: 200px;
    overflow-y: scroll;
}

.info {
    margin: 16px 0;
}

.infoText {
    margin-bottom: 8px;
}

.infoEmail {
    margin-bottom: 8px;
    font-weight: 700;
}

.loader {
    display: flex;
    justify-content: center;
}
