.text {
    font-size: 15px;
    line-height: 20px;
    color: hsla(0, 0%, 20%, 1);
}

.smallGrey {
    font-size: 13px;
    line-height: 18px;
    color: hsl(0, 0%, 68%);
}

.sum {
    text-align: right;
}

.positive {
    color: hsla(149, 52%, 51%, 1);
}

.negative {
    color: hsla(8, 83%, 64%, 1);
}
