.periodWrapper {
    position: relative;
    flex-direction: column;
}

.periodRow {
    margin-bottom: 0;
}

.currency {
    &:after {
        top: 6px;
    }
}

.remove {
    width: 20px;
    text-align: right;
}

.removeBtn {
    margin-top: 15px;
}

.error {
    color: rgb(239, 107, 87);
    margin: 0 59px 0 0;
    text-align: right;
}
