<div class="documentFormWrapper">
    <div class="documentForm accountingStatementsDocument newWave">
        <div class="generalFields">
            <form novalidate="novalidate">
                <div class="documentPart">
                    <div class="js-numberAndDate"></div>
                    <div class="field">
                        <div class="title">Описание</div>
                        <div class="controls">
                            <textarea id="Description" name="Description" class="long" data-bind="Description"></textarea>
                            <span class="field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div data-control="postingsAndTax"></div>
    </div>
</div>